body {
  margin: 0;
  padding: 0;
  font-family: Source Sans Pro, Regular;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FF9800;
}

#root {
	height: 100vh;
}